snippet /[{\[("']/ "autopair these characters" iAr
`!p pairs = {
	'[': ']',
	'(': ')',
	'{': '}',
	'"': '"',
	"'": "'",
}``!p snip.rv = match.group(0)`${1:${VISUAL}}`!p snip.rv = pairs[match.group(0)]`$0
endsnippet
