extends programming

snippet "" "double quotes - move inside" Ai
"$1"
endsnippet

snippet '' "single quotes - move inside" Ai
'$1'
endsnippet

snippet __ "dunder" Ai
__$1__
endsnippet

snippet doc "create docstring comment"
"""$1"""$0
endsnippet
